*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/*______________________________header_______________________________ */

:root{
    --x10: 10px;
    --x20: 20px;
    --white:#ffffff ;
    --blue: #050a30;
    --black: #000000;
    --gray: #DCDCDC;
    --yellow: #FFD700;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.video{
    position: relative;
}
.col20{
    width: 20%;
}
.col50{
    width: 50%;
}
.col40{
    width: 40%;
}

.col90{
    width: 90%;
}

.col30{
    width: 30%;
}

.col80{
    width: 80%;
}
.col70{
    width: 70%;
}

/* menubar */
.fa-bars{
    top: 0px;
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
    display: none !important;
    color: var(--white);
}
/* menu + video */
div#topMenu{
    background: rgba(255, 255, 255, 0);
    width: 100%;
    position: fixed;
    z-index: 999;
    top: 0px;
}

#topMenu>div>ul{
    list-style-type: none;
}

#topMenu>div>ul li a{
    text-decoration: none;
    display: block;
    color: var(--white);
    font-style: bold;
}

#topMenu>div>ul div>div{
    padding: var(--x10);
    margin: 0 var(--x10);
}

.logoHeader{
    width: 70px;
}

.news{
    background-color: var(--blue);
    border-radius: var(--x20) var(--x20);
    border: 1px solid lightblue;
    margin-right: var(--x10);
    padding: 10px var(--x20);
}

a.news{
    color: var(--white) !important;
}

a.news:hover{
    color: var(--yellow);
}
.haveSub>li:first-child{
    padding: 0 5px;
}

.fa-circle-user{
    font-size: 1.5rem;
}

.haveSub{
    position: relative;
}

.submenu, #last{
    list-style-type: none;
    display: none;
    position: absolute;
    margin-top: var(--x10);
    left: 0;
    width: 250%;
}

#last{
    width: 150%;
    margin-top: 15px;
    right: 0;
    left: initial;
    position: absolute;
}

.submenu a, #last a{
    display: block;
    background-color: var(--white);
    padding: var(--x20) 40px;
    color: var(--black) !important;
}
.submenu>li:first-child a, #last>li:first-child a{
    border-radius: var(--x20) var(--x20) 0 0;
    box-shadow: 1px 3px 5px var(--gray);
}

.submenu>li:last-child a, #last>li:last-child a{
    border-radius: 0 0 var(--x20) var(--x20);
    box-shadow: 1px 3px 5px var(--gray);
}

.submenu li:hover a, #last li:hover a{
    background-color: var(--gray);
}
.submenu::after{
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent var(--white) transparent;
    bottom: 100%;
    display: block;
    position: absolute;
    right: 75%;
}

#last>li:nth-child(2){
    border-bottom: 1.5px solid grey;
}

.haveSub:hover .submenu, .haveSub:hover #last{
    display: block;
}

/*______________________________main_______________________________ */
/* giỏ hàng */
.yeuThich{
    position:fixed;
    top:15%;
    z-index: 990;
    font-size: 25px;
    left:2%;
    background-color: rgba(5, 10, 48,0.5);
    padding:1rem;
    border-radius: 30px;
    cursor:pointer;
}
.yeuThich:hover{
    transform:scale(1.1,1.1);
}
.yeuThich span:nth-child(2){
    font-size: 20px;
    color:#DCDCDC;
    margin-left: 10px;   
}

.love_things{
    background-color: #ffffff;
    position:fixed;
    z-index: 9999;
    bottom:0;
    top:0;
    width:40%;
    font-size: 16px;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:space-between;
    height:100%;
    left:0;
    transform:translateX(-200%);
    transition:transform 0.5s ease-in-out;
    overflow:hidden;
}
.love_things.show {
    transform:translateX(0);
}
.love_things .include{
    display:flex;
    flex-direction: column;
    height:100%;
}
.love_things .include>div{
    padding:1rem;
}
.love_things .head{
    top:0;
    position:absolute;
    background-color: #FFD700;
    color:#ffffff;
    margin:20px;
    height:10%;
    width:90%;
    left:0;
    text-align: center;
    font-size: 20px;
}

.love_things .body{
    height:80%;
    overflow-y:scroll;
    width:100%;
    position:absolute;
    right:0;
    top:15%;

}
.love_things button{
    padding:0.5rem;
    position:absolute;
    bottom:0;
    width:90%;
    margin:20px;
    color:#ffffff;
    background-color: #050a30;
    cursor:pointer;
    left:0;

}
.love_things button:hover{
    transform:scale(1.05,1.05);
}
#goiY .xe{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin:10px 0;
}
#goiY .xe:nth-child(even){
    background-color: #DCDCDC;
}
#goiY img{
    width:30%;
}
.xe .fa-trash-can{
    font-size: 20px;
    cursor: pointer;
}
/* nút quay lai ở trên */
.top_button button{
    margin-bottom:1%;
    margin-left: 1%;
    font-size: 60px;
    border-color:transparent;
    border-radius: 50px;
    background:transparent;
    padding:0.5rem;
    position:fixed;
    bottom:0;
    cursor:pointer;
    z-index: 9000;
}
.top_button button:hover{
    transform:scale(1.1,1.1);
    color:var(--yellow);
}

main{
    margin-top: 3%;
}
.avatar>div{
    position:relative;
}
.avatar>div>div{
    position:absolute;
    top:30%;
    width:40%;
    padding: 0 2rem;
    color:#050a30;
}
.avatar img{
    width:100%;
    margin-top: 0;
}
.welcome{
    font-size: 3rem;
}

.box_avatar{
    display:flex;
    width:80%;
    margin:0 auto;
}
.box_avatar .box{
    border:1px solid grey;
    margin: 2% auto 0 3%;
    padding:2%;
    background-color: #050a30;
    color:white;
}
.box_avatar .box:hover{
    animation: move_box 0.7s linear;
}
@keyframes move_box{
    0%{
        margin: 2% auto 0 3%;
    }
    50%{
        margin: -2% auto 0 3%;
    }
    100%{
        margin: 2% auto 0 3%;
    }
}
.box_avatar .box i{
    margin-right: 5%;
}
.box_avatar .box p:nth-child(1){
    text-align: center;
    font-size: 1.5rem;
}
.box_avatar .box p{
    padding:3%;
}
/*______________________________sec1_______________________________ */
.sec1{
    text-align: center;
}

.sec1 .title{
    font-size: 5rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 2%;
    color:rgb(42, 39, 39);
    margin-top: 10%;
}
.uu_diem span {
    margin-right: 2%;
}
.uu_diem i{
    margin-right: 1%;
}

.hotline{
    border-radius: 30px;
    background-color:rgba(5, 10, 48,0.5);
    color:rgb(206, 203, 203);
    padding:0.5rem;
    width:fit-content;
    display:flex;
    bottom: 10%;
    right: 3%;
    position:fixed;
    z-index: 999;
}
.hotline .phone{
    animation: rung1 0.5s infinite;
}
@keyframes rung1{
    0%,100%{
        transform:translateX(0);
    }
    10%,20%,50%,70%,90%{
        transform:translateX(-5px);
    }
    20%,40%,60%{
        transform:translateX(5px);
    }
}
.hotline i{
    background-color: white;
    border-radius: 30px;
    padding:1rem;
    margin-right: 20px;
}
.hotline p:first-child{
    color:white;
    font-size: 20px;
    margin-top: 5px;
}

/*______________________________sec2_______________________________*/

.sec2{
    margin-top: 100px;
    display:flex;
}
/* chỉnh bên filter */
.filter{
    width:30%;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 10px;
    margin-top: 20px;
}
.filter> div:nth-child(1){
    margin-bottom: 50px;
    
}
.menu_of_filter{
    border: 1px solid grey;
    border-radius: 50px;
    padding:1rem;
    cursor:pointer;
    position: sticky;
    top: 10%; 
    background-color: #050a30;
    color:white;
}
.menu_of_filter >div:nth-child(1){
    padding:1rem;
    font-size: 30px;
}
.icon_of_filter{
    border-bottom: 1px solid grey;
    padding:1rem;
    display:flex;
    flex-direction: column;
    font-size: 20px;
}

.icon_of_filter .sub{
    position:relative;
    display:none;
    left:0;
    top:100%;
    padding:5%;
    width:100%;
    box-sizing: border-box;
    background-color:#050a30;
    border-top: 1px solid grey;
    margin-top: 5%;
}

.icon_of_filter .sub li{
    list-style-type: none;
    padding:5%;
}
/* .icon_of_filter:hover .sub{
    display:block;
    
} */
.icon_of_filter .sub input{
    margin-right: 5%;
    transform:scale(1.5);/*chỉnh cho ô bự lên nè*/
}
.icon_of_filter .sub .color{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
}
.icon_of_filter:last-child{
    border-bottom: none;
}
.icon_of_filter > i{
    margin-right: 20px;
}
.icon_of_filter button{
    border:none;
    cursor:pointer;
    background-color:transparent;
    color:white;
}
.icon_of_filter button:hover{
    background-color: rgb(86, 125, 155);
    border-radius: 50%;
}
/* chỉnh bên car */
.cars{
    width:70%;
    margin-left: 50px;
    display:grid;
    grid-template-columns: repeat(2,1fr);/* hai cột, mỗi cột 50% chiều rộng */
}

.car img{
    width:100%;
    height:auto;
    padding: 1rem;
}
.car{
    border:1px solid grey;
    border-radius: 20px;
    padding:1rem;
    box-shadow:0 0 10px rgb(180, 176, 176);
    cursor:pointer;
    width:90%;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: var(--blue);
}
.car:hover{
    transform:scale(1.01,1.01);
}

.cars .car:nth-child(n+7){
    display:none; /* ẩn từ cái thứ 7 */
}
.car h1{
    text-align: center;
    font-size: 30px;
    color:rgb(16, 16, 45);
    padding:1rem;
}
.car .detail{
    display:grid;
    grid-template-columns: repeat(3,1fr);
}
.car .detail p{
    padding:0.5rem;

}
.car i{
    margin-right: 10px;
}
.car .Gia{
    font-size: 25px;
    margin-bottom: 10px;
    background-color: rgb(248, 245, 245);
    padding:1rem;
    border-radius: 10px;
    text-align: center;
}

.car .like{
    text-align: right;
    top:5%;
    position:relative;
}
.car .like i{
    font-size: 1.5rem;
}
.add{
    border:1px solid black;
    width:fit-content;
    padding:1rem;
    margin-left: 90%;
    background-color: #050a30;
    color:#ffffff;
    cursor:pointer;
}
.add:hover{
    transform:scale(1.05,1.05);
}
/*______________________________sec3_______________________________*/
.sec3{
    color:rgb(69, 67, 67);
    margin-top: 100px;
    margin-left: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.sec3 .title{
    font-size: 30px;
    margin-bottom: 20px;
}

.sec3 a{
    color:rgb(64, 144, 224);
    font-size: 20px;
}

.sec3 .contact{
    font-size:20px;
    margin-top:5%;
}
.sec3 .contact li{

    margin-left: 50px;
    padding:0.5rem;
}

/*______________________________sec4_______________________________*/

.sec4 {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center; /* Căn giữa các cột */
    align-items: center; /* Căn giữa theo chiều dọc */
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.sec4 > div {
    border: 1px solid rgb(211, 203, 203);
    padding: 2rem;
    margin: auto; 
    width: 80%;
    max-width: 250px; 
    height:150px;
    box-sizing: border-box;
    font-size: 20px;
}
.sec4 .title{
    margin-bottom: 10px;
    font-size: 15px;
}
.sec4 .explain{
    font-size: 15px;
    color:rgb(134, 132, 132);
}
.sec4 .contacts:hover{
    background-color: rgb(239, 239, 239);
}

/*______________________________footer_______________________________*/

footer{
    margin-top: 100px;
    background-color: black;
    color:rgba(255, 255, 255, 0.736);
}
/* nút quay lại */
footer .back_button{
   color:white;
   text-align: center;
   font-size: 30px;
   margin-bottom: 100px;
   margin-top: 100px;
   padding:2rem;
}
footer .back_button button{
    font-size: 50px;
    border:none;
    background-color: transparent; /* không có nền */
    cursor:pointer;
    color:white;
}
footer .back_button button:hover {
    color: rgb(126, 192, 218);
}
/* kết nối */
footer .connect{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    border:1px solid white;
    border-radius: 20px;
    margin-left: 50px;
    margin-right: 50px;
}
footer .content{
    margin:auto;
    padding:2rem;
    display:grid;
    grid-gap:10px;
}
footer .content>p:nth-child(1){
    font-size: 20px;
    color:white;
}
footer .connect .linked{
    background-color: rgb(66, 116, 255);
    border-radius: 5px;
    padding:1rem;
    margin:auto;
    cursor:pointer;
}
footer .connect .linked a{
    color:white;
    text-decoration: none;
}
footer .connect .linked:hover{
    background-color: rgb(38, 70, 158);
}

/* info */

.info{
    margin-top: 100px;
    margin-left: 50px;
    display:grid;
    grid-template-columns: repeat(5,1fr);
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid grey;
    padding:1rem;
    font-size: 15px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    align-items: flex-start;/*Bắt đàu từ trên theo chiều dọc*/
}

.info .title{
    color:white;
    padding:1rem;
}
.info .detail{
    padding:0.5rem;
}
.info .detail p{
    padding:0.5rem;
    cursor:pointer;
    position:relative;
    /* overflow:hidden; */
}
.info .detail p::before{ /*tạo gạch chân*/
    position:absolute;
    content:''; /*tạo nội dung rỗng cho phần tử giả*/
    left:0;
    bottom:0;
    width:0;
    height:0.5px;
    background-color: white;
    transition: width 0.5s ease;
}
.info .detail p:hover::before{
    width:100%;
}

/* last  */
.last_of_footer{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
    padding:5rem;
    cursor:pointer;
}