.flex{
    flex-direction: column;
    align-items: initial;
}
.haveSub{
    flex-direction: row;
    justify-content: flex-start;
}
.news{
    background-color: transparent;
    border-radius: 0;
    border: transparent;
}
#user{
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.submenu, #last{
    position: relative;
    background-color: #7f7f7f;
}
.submenu a, #last a{
    background-color: transparent !important;
    color: #ffffff !important;
    padding: 10px 20px;
}

.submenu>li:first-child a, #last>li:first-child a{
    border-radius: 0;
    box-shadow: 1px 3px 5px transparent;
}
.submenu>li:last-child a, #last>li:last-child a{
    border-radius: 0;
    box-shadow: 1px 3px 5px transparent;
}
.submenu::after{
    display: none;
}
.submenu, #last{
    background-color: transparent;
}
.submenu>li:hover a, #last>li:hover>a{
    color: black !important;
}

#last{
    left: 0;
}

.fa-bars{
    display: block !important;
    background: rgba(255, 0, 0, 0.5);
}

#topMenu{
    justify-content: flex-start;
    flex-direction: row;
    position: fixed;
}
a.khampha{
    display: none;
}
#topMenu>div>div:first-child{
    flex-direction: row-reverse;
    background: #000000 !important;
    width: 100%;
}
#topMenu>div{
    background: transparent;
}

.news{
    margin-right: 0;
    padding: 0;
}
.Menu{
    background-color: gray;
    width: 50%;
    box-shadow: 2px 3px 5px black;
    height: 500px;
    position: relative;
    display: none;
}

#last>li:nth-child(2){
    border-bottom: 1.5px solid transparent;
}
/*______________________________main_______________________________ */
.yeuThich{
    font-size: 3vw;
}
.yeuThich span:nth-child(2){
    font-size: 3vw;
}
.love_things{
    width:80%;
}
.avatar img{
    margin-top: 10%;
}
.avatar p:nth-child(1){
    font-size: 20px;
}
.avatar p:nth-child(2){
    font-size: 10px;
}
.box_avatar{
    display:none;
}

/* sec 1 */
.sec1 .title{
    font-size: 1.5rem;
    font-weight: bold;
}
.uu_diem span {
    font-size: 10px;
}
.hotline{
    margin-left: 60%;
}
/* sec 2 */
.sec2 {
    display:block;
}
.top{
    flex-direction: row;
    align-items: center;
}

.filter{
    width:80%;
    margin-left: 10%;
}
.sec2 .menu_of_filter .boloc{
    font-size: 25px;
}
.sec2 .menu_of_filter .icon_of_filter{
    font-size: 15px;
}
.menu_of_filter{
    padding:0.5rem;
    top: 5%; 
    width:100%;
}
/* chỉnh bên car */
.cars{
    width:90%;
    margin:0 5% 0 5%;
    display:block;
}
.add{
    border:1px solid black;
    width:fit-content;
    padding:1rem;
    margin-left: 70%;
    background-color: #050a30;
    color:#ffffff;
    cursor:pointer;
}

/* sec 4 */
.sec4{
    display:none;
}

/*______________________________footer_______________________________*/

footer .connect .linked{
    padding:0.5rem;
    font-size: 15px;
}
footer .info{
    margin-top: 10%;
    margin-left: 2%;
}

